# Ignore build artifacts
/build/
*.vcxproj
*.vcxproj.filters
*.sln
*.exe
*.pdb
*.ilk
*.obj
*.log

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake

conan_toolchain.cmake
conanbuild*.bat
conandeps_legacy.cmake
conanrun*.bat
deactivate_*.bat


*.dir/
*.tlog/
*.log

Testing/

FindGTest.cmake
GTest-Target-*.cmake
GTest-*.cmake
module-GTest*.cmake
